[init]
	templateDir = /Users/bshah/.git-template
[user]
	email = {email}
	name = brijshah
[pager]
	branch = false
[push]
  default = current
[branch]
  autosetuprebase = always
[protocol]
	version = 2
